# Ignore all MATLAB temporary/autosave files
*.asv

# Ignore all specific figure and data file types
*.png
*.fig
*.mat
*.ex*
*.pdf

# Ignore entire folder contents recursively
**/dataFolder/
**/figureFolder/

# EXCEPTIONS: Do NOT ignore these specific .mat files
!*/*/Sandbox/*.mat/*.mat
!"*/Mathieusche Differentialgleichung/*.mat"
!"*/Schlagdifferentialgleichung/Workspace.mat"
