# Ignore all MATLAB temporary/autosave files
*.asv

# Ignore all specific figure and data file types
*.png
*.fig
*.mat
*.ex*
*.pdf

# Ignore entire folder contents recursively
**/dataFolder/
**/figureFolder/

# EXCEPTIONS: Do NOT ignore these specific .mat files
!"Mathieusche Differentialgleichung/Programme/*.mat"
!"Mathieusche Differentialgleichung/Programme/Sandbox/*.mat"
!"Schlagdifferentialgleichung/Programme/Workspace.mat"
